!.classpath
!.project
!.externalToolBuilders
!etlconfig.properties
!src-to-dst-column-mappings.properties
!dateformats.properties
target/*
csvfilerepo/in/*
csvfilerepo/out/*
csvfilerepo/failed/*
csvfilerepo/retry/*
db/*